*{
 margin: 0;
 padding: 0;   
}

body{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4(200px,auto,auto,auto);
  grid-template-areas: "header"
                        "menu"
                        "main";
 background-image: url(img/cubes.png);
}

.header{
   grid-area: header;
   background-image: url(img/header.jpg);
   background-repeat: no-repeat;
   background-position: top 200px;
   height: 500px;
}

.header  h1{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 80px;
   width: 600px;
   position: relative;
   line-height: 500px;
   left: 40px;
   color: white;
   text-align: center;

}

.main{
   grid-area: main;
   display: grid;
   grid-template-columns: repeat(auto-fill,290px);
   width: 100%;
   grid-gap: 10px;
   justify-content: space-evenly;
   margin: 0 auto;

}

.footer{
   height: 100px;
   background-color: black;
   color: white;
   margin-top: 50px;
}

.footer p{
   text-align: center;
   line-height: 30px;
}